

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todos.css' %}">
    <title>Todo List Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_items.name}}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_items.items.all %}
                        <tr>
                            <td>{{ todo_item.task }}</td>
                            <td>{{ todo_item.due_date|date:"F j, Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>
</body>
</html>
